<a href="https://colab.research.google.com/github/Saran10Sk/my/blob/master/ajnas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
import pandas as pd
from pandas import DataFrame

In [0]:
data = pd.read_excel('/content/gdrive/My Drive/my_data/Data_Science_2020_v2.xlsx',engine='openpyxl')

In [0]:
data.columns

Index(['Application_ID', 'Current City', 'Python (out of 3)',
       'R Programming (out of 3)', 'Data Science (out of 3)', 'Other skills',
       'Institute', 'Degree', 'Stream', 'Current Year Of Graduation',
       'Performance_PG', 'Performance_UG', 'Performance_12', 'Performance_10'],
      dtype='object')

In [0]:
data[['Degree','Current Year Of Graduation']]

                              Degree  Current Year Of Graduation
0      Bachelor of Engineering (B.E)                        2019
1                                NaN                        2020
2    Bachelor of Technology (B.Tech)                        2018
3                  Integrated M.Tech                        2021
4      Bachelor of Engineering (B.E)                        2018
..                               ...                         ...
606    Bachelor of Engineering (B.E)                        2020
607       PG Diploma in Data Science                        2020
608  Bachelor of Technology (B.Tech)                        2016
609       Bachelor of Science (B.Sc)                        2018
610    Master of Technology (M.Tech)                        2016

[611 rows x 2 columns]

In [0]:
################program weightage#############################

In [0]:
fd = data[['Python (out of 3)','R Programming (out of 3)','Data Science (out of 3)']].copy()

In [0]:
fd

     Python (out of 3)  R Programming (out of 3)  Data Science (out of 3)
0                    1                         0                        3
1                    2                         1                        2
2                    2                         0                        0
3                    2                         0                        2
4                    2                         0                        0
..                 ...                       ...                      ...
606                  2                         2                        2
607                  1                         0                        0
608                  2                         2                        0
609                  3                         2                        2
610                  2                         2                        0

[611 rows x 3 columns]

In [0]:
'''
fd['python_score'] = ''
fd.loc[(fd['Python (out of 3)'] > 0) & (fd['Python (out of 3)'] <= 1), 'weitage'] = 3
fd.loc[(fd['Python (out of 3)'] > 1) & (fd['Python (out of 3)'] <= 2), 'weitage'] = 7
fd.loc[(fd['Python (out of 3)'] > 2) & (fd['Python (out of 3)'] <= 3), 'weitage'] = 10
print (fd['python_score'])
'''

"\nfd['python_score'] = ''\nfd.loc[(fd['Python (out of 3)'] > 0) & (fd['Python (out of 3)'] <= 1), 'weitage'] = 3\nfd.loc[(fd['Python (out of 3)'] > 1) & (fd['Python (out of 3)'] <= 2), 'weitage'] = 7\nfd.loc[(fd['Python (out of 3)'] > 2) & (fd['Python (out of 3)'] <= 3), 'weitage'] = 10\nprint (fd['python_score'])\n"

In [0]:
fd['python_score'] = 0
fd.loc[(fd['Python (out of 3)'] > 0) & (fd['Python (out of 3)'] <= 1), 'python_score'] = 3
fd.loc[(fd['Python (out of 3)'] > 1) & (fd['Python (out of 3)'] <= 2), 'python_score'] = 7
fd.loc[(fd['Python (out of 3)'] > 2) & (fd['Python (out of 3)'] <= 3), 'python_score'] = 10

In [0]:
fd['R_score'] = 0
fd.loc[(fd['R Programming (out of 3)'] > 0) & (fd['R Programming (out of 3)'] <= 1), 'R_score'] = 3
fd.loc[(fd['R Programming (out of 3)'] > 1) & (fd['R Programming (out of 3)'] <= 2), 'R_score'] = 7
fd.loc[(fd['R Programming (out of 3)'] > 2) & (fd['R Programming (out of 3)'] <= 3), 'R_score'] = 10

In [0]:
fd['DS_score'] = 0
fd.loc[(fd['Data Science (out of 3)'] > 0) & (fd['Data Science (out of 3)'] <= 1), 'DS_score'] = 3
fd.loc[(fd['Data Science (out of 3)'] > 1) & (fd['Data Science (out of 3)'] <= 2), 'DS_score'] = 7
fd.loc[(fd['Data Science (out of 3)'] > 2) & (fd['Data Science (out of 3)'] <= 3), 'DS_score'] = 10

In [0]:
print (fd[['python_score', 'R_score', 'DS_score']])

     python_score  R_score  DS_score
0               3        0        10
1               7        3         7
2               7        0         0
3               7        0         7
4               7        0         0
..            ...      ...       ...
606             7        7         7
607             3        0         0
608             7        7         0
609            10        7         7
610             7        7         0

[611 rows x 3 columns]

In [0]:
fd['prg_wt'] = fd['python_score'] + fd['R_score'] + fd['DS_score']
fd['prg_wt']

0      13
1      17
2       7
3      14
4       7
       ..
606    21
607     3
608    14
609    24
610    14
Name: prg_wt, Length: 611, dtype: int64

In [0]:
################Degree weightage#############################

In [0]:
st = data[['Degree','Current Year Of Graduation']].copy()

In [0]:
st

                              Degree  Current Year Of Graduation
0      Bachelor of Engineering (B.E)                        2019
1                                NaN                        2020
2    Bachelor of Technology (B.Tech)                        2018
3                  Integrated M.Tech                        2021
4      Bachelor of Engineering (B.E)                        2018
..                               ...                         ...
606    Bachelor of Engineering (B.E)                        2020
607       PG Diploma in Data Science                        2020
608  Bachelor of Technology (B.Tech)                        2016
609       Bachelor of Science (B.Sc)                        2018
610    Master of Technology (M.Tech)                        2016

[611 rows x 2 columns]

In [0]:
st.Degree.unique()

array(['Bachelor of Engineering (B.E)', nan,
       'Bachelor of Technology (B.Tech)', 'Integrated M.Tech',
       'B.Tech (Hons.)', 'Master of Business Administration_(MBA)', 'MBA',
       'Master of Science (M.Sc)', 'Post Graduate Programme (PGP)',
       'Master of Computer Applications (MCA)',
       'Bachelor of Pharmacy (B.Pharm)', 'Integrated MCA',
       'Bachelor of Commerce (B.Com)', 'Master of Technology (M.Tech)',
       'Integrated B.Sc. & M.Sc.', 'Post Graduate Diploma',
       'Integrated M.Sc.', 'Master of Arts (M.A.)',
       'PG Diploma in Data Science', 'Bachelor of Science (B.Sc)',
       'Integrated B.Tech', 'Master of Statistics (M.Stat)',
       'Post Graduate Diploma in Management (P.G.D.M.)',
       'Master of Engineering (M.E)', 'Master Of Analytics',
       'Bachelor of Computer Applications (BCA)',
       'Integrated B.S. & M.S.', 'Bachelor of Science (B.Sc) (Hons.)',
       'Bachelor of Computer Science (B.C.S.)',
       'Master of Science (M.S.)', 'Master of Science (M.Sc) (Hons.)',
       'Integrated B.Tech & M.Tech', 'Integrated B.Tech & MBA',
       'Bachelor of Mathematics (B.Math) (Hons.)',
       'Post Graduate Diploma in Business Management (P.G.D.B.M.)',
       'Executive MBA',
       'Post Graduate Diploma in Big Data Analytics (PG-DBDA)',
       'Bachelor of Engineering (B.E) (Hons.)',
       'Bachelor of Business Management (B.B.M.)',
       'Bachelor of Commerce (B.Com) (Hons.)',
       'Post Graduate Program in Business Analytics',
       'B.Com. Professional',
       'Bachelor of Business Administration (B.B.A.)'], dtype=object)

In [0]:
st['DG_score'] = 0
st.loc[((st['Degree'] == 'Bachelor of Technology (B.Tech)') | (st['Degree'] == 'Bachelor of Engineering (B.E)') | (st['Degree'] == 'Integrated B.Tech & M.Tech') | (st['Degree'] == 'Integrated B.Tech & MBA') | (st['Degree'] == 'Integrated B.Tech') | (st['Degree'] == 'Integrated M.Tech') | (st['Degree'] == 'Integrated B.Sc. & M.Sc.') | (st['Degree'] == 'Master of Science (M.Sc)') | (st['Degree'] == 'Master of Technology (M.Tech)') | (st['Degree'] == 'Master of Engineering (M.E)') | (st['Degree'] == 'Master of Science (M.Sc) (Hons.)') | (st['Degree'] == 'Bachelor of Engineering (B.E) (Hons.)')) & (st['Current Year Of Graduation'] >= 2020 ),'DG_score'] = 10
st.loc[((st['Degree'] == 'Bachelor of Technology (B.Tech)') | (st['Degree'] == 'Bachelor of Engineering (B.E)') | (st['Degree'] == 'Integrated B.Tech & M.Tech') | (st['Degree'] == 'Integrated B.Tech & MBA') | (st['Degree'] == 'Integrated B.Tech') | (st['Degree'] == 'Integrated M.Tech') | (st['Degree'] == 'Integrated B.Sc. & M.Sc.') | (st['Degree'] == 'Master of Science (M.Sc)') | (st['Degree'] == 'Master of Technology (M.Tech)') | (st['Degree'] == 'Master of Engineering (M.E)') | (st['Degree'] == 'Master of Science (M.Sc) (Hons.)') | (st['Degree'] == 'Bachelor of Engineering (B.E) (Hons.)')) & (st['Current Year Of Graduation'] == 2019 ),'DG_score'] = 8
st.loc[((st['Degree'] == 'Bachelor of Technology (B.Tech)') | (st['Degree'] == 'Bachelor of Engineering (B.E)') | (st['Degree'] == 'Integrated B.Tech & M.Tech') | (st['Degree'] == 'Integrated B.Tech & MBA') | (st['Degree'] == 'Integrated B.Tech') | (st['Degree'] == 'Integrated M.Tech') | (st['Degree'] == 'Integrated B.Sc. & M.Sc.') | (st['Degree'] == 'Master of Science (M.Sc)') | (st['Degree'] == 'Master of Technology (M.Tech)') | (st['Degree'] == 'Master of Engineering (M.E)') | (st['Degree'] == 'Master of Science (M.Sc) (Hons.)') | (st['Degree'] == 'Bachelor of Engineering (B.E) (Hons.)')) & (st['Current Year Of Graduation'] <= 2018 ),'DG_score'] = 5
st

                              Degree  Current Year Of Graduation  DG_score
0      Bachelor of Engineering (B.E)                        2019         8
1                                NaN                        2020         0
2    Bachelor of Technology (B.Tech)                        2018         5
3                  Integrated M.Tech                        2021        10
4      Bachelor of Engineering (B.E)                        2018         5
..                               ...                         ...       ...
606    Bachelor of Engineering (B.E)                        2020        10
607       PG Diploma in Data Science                        2020         0
608  Bachelor of Technology (B.Tech)                        2016         5
609       Bachelor of Science (B.Sc)                        2018         0
610    Master of Technology (M.Tech)                        2016         5

[611 rows x 3 columns]

In [0]:
################skill weightage#############################

In [0]:
sk = data[['Other skills']].copy()

In [0]:
sk.dtypes

Other skills    object
dtype: object

In [0]:
st = ['Machine Learning','SQL','Data Analytics','MySQL','Deep Learning','Statistical Modeling','Neural Networks','PostgreSQL','MongoDB']
type(st)

list

In [0]:
sk['Other skills'].unique()

In [0]:
sk['skill'] = sk['Other skills'].astype(str)

TypeError: ignored